h1 {
  font-family: Raleway;
  margin-left: 1.66%;
  font-size: 23px;
  font-weight: 800;
  text-transform: uppercase;
  border-bottom: #f1f1f1 solid 1px;
  width: 30%;
}

img {
  width: 30%;
  float: left;
  margin: 1.66%;

}
